
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
     <!-- <link href="style.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">  css not link--> 
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}"> -->
</head>
<body>
    <h1 style="text-align: center; color: #333;">Users</h1>
    <table style="width: 80%; margin: 0 auto; border-collapse: collapse; text-align: left;">
        <tr style="background-color: #f2f2f2;">
            <th style="border: 1px solid #ddd; padding: 8px;">ID</th>
            <th style="border: 1px solid #ddd; padding: 8px;">Name</th>
            <th style="border: 1px solid #ddd; padding: 8px;">Email</th>
        </tr>
        {% for user in users %}
        <tr style="background-color:#ffffff">
            <td style="border: 1px solid #ddd; padding: 8px;">{{ user.id }}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">{{ user.name }}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">{{ user.email }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>



